* {
    box-sizing: border-box;
}

html,
body,
.page {
    min-height: 100% !important;
    height: 100%;
}

h1 {
    text-transform: uppercase;
}

.left {
    color: #fff;
    float: left;
    height: 100%;
    overflow: auto;
    padding: 15px;
    width: 20%;
    border-right: 1px solid white;
}

.dir {
    cursor: pointer;
    padding: 3px;
}

.dir .fa {
    margin-right: 5px;
}

.right {
    float: right;
    height: 100%;
    overflow: auto;
    padding: 15px;
    width: 80%;
}

.title {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
}

.panel {
    background-color: #f1f1f1;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.stat {
    font-weight: bold;
}

.chart_title {
    margin-bottom: 5px;
}

.login-form {
    width: 60%;
    margin: auto;
}

.login-logo {
    width: 20%;
    margin: auto;
}

select {
    background-color: black;
    color: white;
    margin: 1% 0%;
    border: none;
    font-size: 1.3125rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    width: 100%;
}

.login-form {
    position: absolute;
    top: 50%;
    transform: translate(20%, -60%);
}

#left-logo {
    max-width: 5em;
    margin: 5% auto 20% auto;
}

.menu-item {
    cursor: pointer;
    text-transform: uppercase;
}

#top-infos {
    float: right;
}

div.darkTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 0px solid #000000;
    background-color: #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.divTable.darkTable .divTableCell,
.divTable.darkTable .divTableHead {
    border: 0px solid #FFFFFF;
    padding: 0px 0px;
}

.divTable.darkTable .divTableBody .divTableCell {
    font-size: 13px;
    color: #FFFFFF;
}

.divTable.darkTable .divTableHeading {
    background: #000000;
    border-bottom: 0px solid #000000;
}

.divTable.darkTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.darkTable .tableFootStyle {
    font-size: 12px;
}


/* DivTable.com */

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

.manage-key-value {
    overflow-wrap: break-word;
}

.title {
    color: #8a9ba8;
}

.circle-ok {
    fill: green;
}

.circle-nok {
    fill: red;
}

.circle-unknown {
    fill: grey;
}

.service-status-container {
    display: inline-block;
}